<!DOCTYPE html>
<html ng-app="transflower">
  <head>
    <meta charset="utf-8" />
    <title>Transflower Learning</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
  </head>

Order:
  <body ng-controller="MainController">
   <select ng-model="repoSortOrder">
     <option value="+name">Name</option>
     <option value="+location">Location</option>
     <option value="+technology">Technology</option>
     <option value="certification">Certification</option>
     <option value="+joinDate">Location</option>
     <option value="age">Age</option>
   </select>
   
   <input type="submit" value="show" ng-click="search()"/>
    <table>
      <thead>
        <th>name</th>
        <th>location</th>
        <th>technology</th>
        <th>certification</th>
        <th>salary</th>
        <th>age</th>
        <th>IsConsultant</th>
        <th>Join Date</th>
      </thead>
      <tbody>
        <tr ng-repeat="emp in employees | orderBy:repoSortOrder">
          <td>{{emp.name |uppercase}}</td>
          <td>{{emp.location}}</td>
          <td>{{emp.technology}}</td>
          <td>{{emp.certification}}</td>
          <td>{{emp.salary | currency:"&#8377;"}}</td>
          <td>{{emp.age}}</td>
          <td>{{emp.consultant}}</td>
          <td>{{emp.joinDate | date:'fullDate'}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>