<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>AngularJS Service Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="MainController">
    <h1>User Information</h1>
    <p>Name: {{user.name}}</p>
    <p>Age: {{user.age}}</p>

    <h3>Update User</h3>
    <input type="text" ng-model="newUserName" placeholder="New name">
    <input type="number" ng-model="newUserAge" placeholder="New age">
    <button ng-click="updateUser({name: newUserName, age: newUserAge})">Update User</button>
</body>
</html>